{% load inlinecss %}
{% load static %}
{% inlinecss "accounts/css/email_verification.css" %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verify Your Account</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="message_body">
        <h2 class="company-name">{{site_title}}</h2>
        <div style="padding: 1.2em 1px;">
          {% comment %}
          <img src="{% static 'images/email.png' %}" alt=""
            style="width: 200px; max-width: 300px; height: auto; margin: auto; display: block;">
          {% endcomment %}
        </div>
        <div class="text" style="padding: 0 2.5em; text-align: center;">
          <h2>Please verify your email</h2>
          <h3>Hello, your'e almost ready 🙂. Please click the link below to verify your email.</h3>
          <p><a href="https://{{ domain }}{% url 'verify_email' uidb64=uid token=token %}?next=/"
              class="btn btn-primary">VERIFY EMAIL</a></p>
        </div>

        <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
          style="margin: auto;">
          <tr>
            <td valign="middle" class="bg_light footer email-section">
              <table>
                <tr>
                  <td valign="top" width="33.333%" style="padding-top: 20px;">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tr>
                        <td style="text-align: left; padding-right: 10px;">
                          <h3 class="heading">About</h3>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, ipsa molestias tenetur quia explicabo accusantium laborum dolor labore velit veritatis.</p>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td valign="top" width="33.333%" style="padding-top: 20px;">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tr>
                        <td style="text-align: left; padding-left: 5px; padding-right: 5px;">
                          <h3 class="heading">Contact Info</h3>

                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr><!-- end: tr -->

        </table>

      </div>
    </div>
  </div>
</body>

</html>
{% endinlinecss %}